parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$string of function rtrim expects string, mixed given\\.$#"
			count: 1
			path: library/Jira/LinkHelper.php

		-
			message: "#^Parameter \\#1 \\$array of function array_flip expects array\\<int\\|string\\>, array\\|null given\\.$#"
			count: 1
			path: library/Jira/RestApi.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_error expects CurlHandle, CurlHandle\\|resource given\\.$#"
			count: 1
			path: library/Jira/RestApi.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_exec expects CurlHandle, CurlHandle\\|resource given\\.$#"
			count: 1
			path: library/Jira/RestApi.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_getinfo expects CurlHandle, CurlHandle\\|resource given\\.$#"
			count: 1
			path: library/Jira/RestApi.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_setopt_array expects CurlHandle, CurlHandle\\|resource given\\.$#"
			count: 1
			path: library/Jira/RestApi.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, mixed given\\.$#"
			count: 1
			path: library/Jira/RestApi.php

		-
			message: "#^Parameter \\#2 \\$array of function array_key_exists expects array, array\\|null given\\.$#"
			count: 1
			path: library/Jira/RestApi.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, mixed given\\.$#"
			count: 1
			path: library/Jira/Validator/PhpSessionBasedCsrfTokenValidator.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func expects callable\\(\\)\\: mixed, array given\\.$#"
			count: 1
			path: library/Jira/Web/Controller.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func expects callable\\(\\)\\: mixed, array\\{\\$this\\(Icinga\\\\Module\\\\Jira\\\\Web\\\\Controller\\), string\\} given\\.$#"
			count: 1
			path: library/Jira/Web/Controller.php

		-
			message: "#^Parameter \\#2 \\$values of function vsprintf expects array\\<bool\\|float\\|int\\|string\\|null\\>, array\\<int\\|string, mixed\\> given\\.$#"
			count: 1
			path: library/Jira/Web/Controller.php

		-
			message: "#^Parameter \\#1 \\$string of function rawurlencode expects string, mixed given\\.$#"
			count: 2
			path: library/Jira/Web/Form/NewIssueForm.php
